.env
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
output/
venv/
.venv/
venv_akkiai/
tests/
.vercel/
.venv/
.vercel/
.env/
venv_akkiai/
src/akkiai/notes_hosting.txt
ec2-akkiai-key.pem/
ec2-akkiai-key.pem/